/* Login and signup forms */

.account-form button {
  width: 4rem;
  margin-left: 80px;
}

#signup-form button {
  width: 8rem;
}

.account-forms-container {
  padding-left: 20px;
}

.user-profile-box {
  padding: 5px 10px 10px;
}

.user-profile-box {
  margin: 10 px 0
}